LLM_API_KEY=
LLM_MODEL=gemini-3-flash-preview

# llama.cpp settings per sfruttare gpu amd con vulkan
# avviare il server con: llama-server -hf Qwen/Qwen3-Embedding-4B-GGUF:Q8_0 --embeddings -ngl 999 --no-webui --port 8080
OLLAMA_BASE_URL=http://localhost:8080/v1
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-4B-GGUF:Q8_0

SIMILARITY_THRESHOLD=0.45